.switch{
   width: 300px;
   height: 130px;
   background-color: rgb(255, 213, 0);
   border-radius: 70px;
   border: 5px solid rgb(206, 141, 0);
   transition: all 0.8 ease;
}
.eye{
   width: 120px;
   height: 120px;
   background-color: rgb(246, 246, 246);
   border-radius: 50%;
   border: 5px solid rgb(170, 170, 170); 
   position: relative;
   overflow: hidden;
   transition: all 0.8s ease;
}
.cherniy{
   width: 30px;
   height: 30px;
   background-color: black;
   border-radius: 50%;
   position: absolute;
   top: 45px;
   right: 45px;
   transition: all 0.8s ease;
}
.blick{
   width: 4px;
   height: 4px;
   border-radius: 50%;
   position: absolute;
   background-color: white;
   right: 5px;
   top: 10px;
   transition: all 0.8s ease;
}
.veko{
   transition: all 0.8s ease;
   width: 128px;
   height: 60px;
   background-color: rgb(170, 170, 170);
   position: relative;
   transform: rotate(-15deg)
      translateX(-20px)
      translateY(-120px);
      
}
.closedswitch{
   width: 300px;
   height: 130px;
   background-color: rgb(18, 18, 81);
   border: 5px solid  rgb(7, 7, 35);
   transition: all 0.8s ease;
}
.closedeye{
   margin-left: 170px;
   transition: all 0.8s ease;
}
.closedveko{
   top: 5px;   
   transform: rotate(-15deg)
      translateX(-11px)
      translateY(-10px);
      transition: all 0.8s ease;
}




